.outer1{
    background-image: url(ANS.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    width: 100%;
    height: 167%;
    

}
.outer{
    background-image: url(COVID.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    width: 100%;
    height: 177%;

}

h1{
    font-family: cursive;
    text-align: center;
}
.inner{
    width: 80%;
    height: 79%;
    background-color: cadetblue;
    opacity: 0.7;
    margin-left: 150px;
}
.sub_sec{
    width: 80%;
    height: 9.5%;
    background-color: coral;
    opacity: 0.7;
    margin-left: 150px;
    margin-top: 7px;
}
h3{
    
    font-family: cursive;
    font-weight: bolder ;
   
    
}
h4{
    font-family: cursive;
}
.qn1{
    width: 93%;
    height: 16%;
    background-color:rgb(170, 166, 166);
    margin-left: 30px;   
    padding-top: 5px;
    padding-left: 10px;
    
    
}
.qn2{
    width: 93%;
    height: 16%;
    background-color:rgb(170, 166, 166);
    margin-left: 30px;
    padding-top: 5px;
    padding-left: 10px;
}
.qn3{
    width: 93%;
    height: 16%;
    background-color:rgb(170, 166, 166);
    padding-top: 5px;
    margin-left: 30px;
    padding-left: 10px;
}
.qn4{
    width: 93%;
    height: 16%;
    background-color:rgb(170, 166, 166);
    padding-top: 5px;
    margin-left: 30px;
    padding-left: 10px;
}
.qn5{
    width: 93%;
    height: 16%;
    background-color:rgb(170, 166, 166);
    padding-top: 5px;
    margin-left: 30px;
    padding-left: 10px;
}
.submit{
    box-shadow: black;
  align-content:center;
  background-color: #696669;
  border: none;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  margin-left: 160px;
  margin-bottom: 80px;
  cursor: pointer;
   margin-top: 30px;
}
.score{
    box-shadow: black;
  align-content:center;
  background-color: #696669;
  border: none;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  margin-left: 160px;
  margin-bottom: 80px;
  cursor: pointer;
   margin-top: 30px;
}
.answers{
    box-shadow: black;
  align-content:center;
  background-color: #696669;
  border: none;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  margin-left: 160px;
  margin-bottom: 80px;
  cursor: pointer;
   margin-top: 30px;
}
MARK{
    background-color: rgb(248, 132, 97);
}
.qna1{
    width: 95%;
    height: 14%;
    background-color:rgb(252, 247, 207);
    margin-left: 30px;   
    padding-top: 5px;
    padding-left: 10px;
    opacity: 0.7;
    
}
.qna2{
    width: 95%;
    height: 14%;
    background-color:rgb(252, 247, 207);
    margin-left: 30px;
    padding-top: 5px;
    padding-left: 10px;
    opacity: 0.7;
}
.qna3{
    width: 95%;
    height: 14%;
    background-color:rgb(252, 247, 207);
    padding-top: 5px;
    margin-left: 30px;
    padding-left: 10px;
    opacity: 0.7;
}
.qna4{
    width: 95%;
    height: 14%;
    background-color:rgb(252, 247, 207);
    padding-top: 5px;
    margin-left: 30px;
    padding-left: 10px;

    opacity: 0.7;
}
.qna5{
    width: 95%;
    height: 14%;
    background-color:rgb(252, 247, 207);
    padding-top: 5px;
    margin-left: 30px;
    padding-left: 10px;
    opacity: 0.7;
}